*{
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
}

#nave{
    background: #002333;
    color: white;
}

html, body{
    width: 100vw;
    height: 100vh;
    
}
#profilemenu{
    background-color: white;
    color: #002333;
    text-align: center;
}

.perfil{
    border-radius: 95px;
    width: 50px;
}