*{
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
    /* cor adm:#168100 */
}
header{
    background: #002333;
}
html, body{
    width: 100vw;
    height: 100vh;

}
#nave{
    background: #002333;
    color: white;
}
#profilemenu{
    background-color: white;
    color: #002333;
    text-align: center;
}
#profile{
    border-radius: 95px;
}
.perfil{
    border-radius: 95px;
    width: 50px;
}
#hist{
    text-align: center;
}
#entrada{
    background-color: #168100 ;
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    color: white;
    text-align: center;

}
#intervalo{
    background-color: #002333 ;
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    color: white;
    text-align: center;
}
#retorno{
    background-color: #168100 ;
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    color: white;
    text-align: center;

}
#saida{
    background-color: #002333 ;
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    color: white;
    text-align: center;
}
footer{
    background: #002333;
    text-align: center;
    
}
#costureza{
    text-align: center;
    text-decoration: none;
    color: white;
}
