*{
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
    /* cor adm:#168100 */
}
#nave{
    background: #002333;
    color: white;
}

html, body{
    width: 100vw;
    height: 100vh;
    

}

#profilemenu{
    background-color: white;
    color: #002333;
    text-align: center;
}

.perfil{
    border-radius: 95px;
    width: 50px;
}

#log{
    text-align: center;
    margin: 45px;
    padding: 20px;
}
#loginnn{
    width: 180px;
    
}

#loginentrar{
    background-color: #002333;
    border-radius: 20px;
    margin: 15px;
    padding: 15px;
    color: white;
}

#lgn{
    margin: 40px;
    color: #002333;
}


footer{
    background: #002333;
    text-align: center;
    
}
#costureza{
    text-align: center;
    text-decoration: none;
    color: white;
}
#esqueceu{
    color: #002333;
    text-align: center;
}

