*{
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
    /* cor adm:#168100 */
}
#nave{
    background: #002333;
    color: white;
}
html, body{
    width: 100vw;
    height: 100vh;
    

}

#profilemenu{
    background-color: white;
    color: #002333;
    text-align: center;
}

.perfil{
    border-radius: 95px;
    width: 50px;
}
.perfile{
    border-radius: 95px; 
    margin: 15px;   
}

#up{
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
    background-color: #002333;
    color: white;
}
#envia{
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: #168100;
    color: white;
}

footer{

    background: #002333;
    text-align: center;
    margin: 5px;
    padding: 5px;
    
}
#costureza{
    text-align: center;
    text-decoration: none;
    color: white;
}