*{
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
    
}

html, body{
    width: 100vw;
    height: 100vh;    

}

#profilemenu{
    background: #002333;
    color: white;
    text-align: center;
}

.perfil{
    border-radius: 95px;
    width: 50px;
}
.perfile{
    border-radius: 95px; 
    margin: 15px;   
}


footer{

    background: #002333;
    text-align: center;
    margin: 5px;
    padding: 5px;
    
}
#costureza{
    text-align: center;
    text-decoration: none;
    color: white;
}
