*{
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
    
}
#nave{
    background: #002333;
    color: white;
}
html, body{
    width: 100vw;
    height: 100vh;
    
}



.perfil{
    border-radius: 95px;
    width: 50px;
}
.sup{
    width: 100px;
    margin: 15px;   
}
#suporte{
    text-align: justify;
}

footer{

    background: #002333;
    text-align: center;
    margin: 5px;
    padding: 5px;
    
}
#costureza{
    text-align: center;
    text-decoration: none;
    color: white;
}